*{
    -fx-bg-color: #1A1A1A;
}

.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: -fx-bg-color;
}

#messageLabel {
    -fx-font-weight: 600;
}

.table-view {
    -fx-background-color: -fx-bg-color;
}

.table-view .column-header-background .filler {
    -fx-background-color: -fx-bg-color;
}

.table-view .corner {
    -fx-background-color: -fx-bg-color;
}

.table-view .column-header-background {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: -fx-bg-color;
}

.table-view .table-cell {
    -fx-background-color: -fx-bg-color;
    -fx-border-width: 3px;
    -fx-border-color: -fx-bg-color;
    -fx-padding: 5px 10px;
    -fx-alignment: CENTER;
}

.text-field {
    -fx-background-color:  #333333;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
}

.button:hover{
    -fx-cursor: pointer;
}